@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.special-content{
    text-align: center;
}

.redirect-button{
    position: absolute;
    top: 284px;
    left: 100px;
}

.login-red{
    padding-top: 25px;
    display: block;
    text-align: center;
}

.img-construct{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    margin-top: 15px;
    border-radius: 15px;

}

.construct-div{
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    margin: auto;
    position: relative;
    width:70%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.788);
}

.bg-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(197, 6, 6) 0%, rgba(9,9,121,1) 35%, rgb(255, 48, 48) 100%);
}

.main-bg-color{
    position: absolute;
    background-color: rgb(219, 219, 219);
    width: 100%;
    height: 100vh;
}

.error_type{
    list-style-type: none;
    padding-top: 15px;
}

.login-box{
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 30%;
    height: 25%;
    min-width: 250px;
    max-width: 700px;
}

.login-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    
  }

  .cont_text{
      color: white;
  }

  .team{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }